<mat-card  class="mb-4 m-2 ">
   <table id="cart" class="table table-hover table-condensed">
        <thead>
            <h1 class="ml-4">Panier</h1>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
			<tr *ngFor="let oneLineCommand of allTempoCommands">
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><!--img src="" alt="..." class="img-responsive"/></div--></div>
						<div class="col-sm-10">
							<h4 class="nomargin">{{oneLineCommand.product.name}}</h4>
							<p>{{oneLineCommand.product.description}}</p>
						</div>
					</div>
				</td>
				<td data-th="Price">${{oneLineCommand.product.price}}</td>
				<td data-th="Quantity">
					{{oneLineCommand.quantity}}
				</td>
				<td data-th="Subtotal" class="text-center">${{oneLineCommand.quantity*oneLineCommand.product.price}}</td>
				<td class="actions" data-th="">
					<button (click)="deleteCommand(oneLineCommand?.product.id)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>								
				</td>
			</tr>
			<tr *ngIf="allTempoCommands.length == 0">
				<td><h4>Nothing</h4></td>
			</tr>
        </tbody>
		<tfoot>
			<tr>
				<td><a routerLink="/products" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center"><strong>Total ${{total()}}</strong></td>
				<td *ngIf="allTempoCommands.length != 0"><a routerLink="/checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
			</tr>
		</tfoot>
</table>
</mat-card>
<app-purchases></app-purchases>