<div class="row">

<div class="col-sm">
    <mat-card>
        <h3>Create Product </h3>
        <form #productForm=ngForm>
          <div class="form-group">
            <label >Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="product.name">
          </div>
          <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" name="description" [(ngModel)]="product.description">
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control" name="price" [(ngModel)]="product.price">
            </div>
            <div class="form-group">
                <label >Category</label>
                <select class="form-control" name="category" [(ngModel)]="product.category">
                  <option *ngFor="let Cat of allCategories" [value]="Cat.name">{{Cat.name}}</option>
                </select>
                
              </div>
              <div class="form-group">
                <label >Color</label>
                <input type="text" class="form-control" name="color" [(ngModel)]="product.color">
              </div>
              <div class="form-group">
                <label >Quantity</label>
                <input type="text" class="form-control" name="quantity" [(ngModel)]="product.quantity">
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" (change)="onImagesSelected($event)" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                    <label class="custom-file-label" for="inputGroupFile03">Choose Images</label>
                  </div>
                </div>
              </div>
          
          <button type="submit" (click)="onSubmitProduct()" class="btn btn-block" style="background-color: #723dbe;color:#fff;letter-spacing: 1px;font-size: 18px;">Create</button>
        </form>
    </mat-card>
  </div>
</div>