
<section class="profile">
    <div class="container">
     <div class="row">
         <div class="wc col text-center">
            <img src="../assets/images/undraw_Hello_qnas.svg" class="img-fluid img-avatar rounded-pill"
            
            style="width:130px;"
            >
            <h2 >WELCOME</h2>
         </div>
      <form  #loginForm=ngForm class="offset-1 col-10">
        <table class="table ">
          <thead class="thead-dark">
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="first_name" [(ngModel)]="info.first_name"></td>
              <td><input type="text" class="form-control" name="last_name" [(ngModel)]="info.last_name"></td>
            </tr>
           
            <tr>
           
          </tbody>
          <thead class="thead-dark">
              <tr>
                <th scope="col"><i class="fas fa-at" ></i>Email</th>
                <th scope="col"><i class="fas fa-mobile-alt"></i> Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control"name="email" [(ngModel)]="info.email"></td>
                <td><input type="text" class="form-control"name="phone" [(ngModel)]="info.phone"></td>

              </tr>
             
              <tr>
             
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th scope="col"><i class="fas fa-map-marker-alt"></i>Address</th>
                <th scope="col"><i class="fas fa-home"></i>City</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control" name="address" [(ngModel)]="info.address"></td>
                <td><input type="text" class="form-control" name="city" [(ngModel)]="info.city"></td>

              </tr>
             
              <tr>
             
            </tbody>
          
        </table>
      </form>
          <div class="col-8 offset-2 hvr-float-shadow">
<button class="btn btn-block" style="background-color: #723dbe;color:#fff;letter-spacing: 1px;font-size: 18px;">Update</button>
          </div>
     </div>
  
    </div>
</section>