<mat-sidenav-container class="sidenav-container shadow">
  <mat-sidenav  #drawer class="sidenav bg-white navbar-light" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class=""><div class="">Shooping</div></mat-toolbar>
    <mat-nav-list  color="primary">
       <a mat-list-item routerLinkActive ="active" [routerLinkActiveOptions]="{exact:true}" routerLink=""  class="nav-link  hvr-icon-down" href="#"><i class="fas fa-home hvr-icon"></i> Home</a>
      <a mat-list-item class="nav-link hvr-icon-down" routerLink="products"><i  style="color:#ff6348"
        class="fab fa-product-hunt hvr-icon"></i> Products</a>
      <a mat-list-item class="nav-link hvr-icon-rotate" *ngIf="loggedIn" routerLink="cart">
        <i style="color:#3742fa" class="hvr-icon fas fa-shopping-cart"></i>
        Panier</a>
      <a mat-list-item class="nav-link hvr-icon-rotate" *ngIf="loggedIn" routerLink="purchases">
          <i style="color:#32ee6a" class="hvr-icon fas fa-shopping-basket"></i>
          Purchases</a>
        <a mat-list-item class="nav-link hvr-icon-down"  *ngIf="!loggedIn"  routerLink="register" routerLinkActive="active" 
        ><i style="color:#2ed573;"
           class=" fas fa-user-circle hvr-icon"></i> Register</a>
           <a mat-list-item class="nav-link hvr-icon-down"  *ngIf="!loggedIn" routerLink="login" routerLinkActive="active" 
           ><i style="color:#F79F1F;"
              class=" fas fa-key hvr-icon"></i> Login</a>

              <a mat-list-item class="nav-link hvr-icon-down" *ngIf="loggedIn" routerLink="admin" routerLinkActive="active" 
              ><i style="color:rgb(233, 93, 0);" class="fas fa-user-cog hvr-icon"></i> Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        class="btn-matt"
        
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ECR</span>
      <span class="spacer"></span>
       <a mat-list-item class="nav-link hvr-icon-push" routerLinkActive ="active-link" *ngIf="loggedIn" routerLink="profile"><i class="fa fa-user hvr-icon"></i></a>
              <a mat-list-item class="nav-link shadow hvr-buzz-out"  routerLink="login"  *ngIf="!loggedIn">Login</a>
              <a mat-list-item class="nav-link shadow hvr-buzz-out" routerLink="login" *ngIf="loggedIn" (click)="logout()" >Logout</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
