<div class="row">
    <div class="col-sm">
      <router-outlet></router-outlet>
      <mat-card>

          <h3>Create Category </h3>
          <form #categoryForm=ngForm>
            <div class="form-group">
              <label for="exampleInputEmail1">Category Name</label>
              <input type="email" class="form-control" name="name" [(ngModel)]="category.name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Description</label>
              <input type="email" class="form-control" name="description" [(ngModel)]="category.description">
            </div>
            <button type="submit" (click)="onSubmitCategory()" class="btn btn-block" style="background-color: #723dbe;color:#fff;letter-spacing: 1px;font-size: 18px;">Create</button>
          </form>
      </mat-card>
    </div>
  </div>